<!-- 
    File: ./project/templates/project/create_review_form.html
    Author: Ernesto Rivera (ebrivera@bu.edu), 4/29/25
    Description: display html form to create a new review for coffee bag
-->
{% extends 'project/base.html' %}

{% block content %}

<h1>Leave a review on {{coffee_bag.company}}</h1>
    <div style="background-color: #f1e2bc; border: 2px solid black; margin: 0 auto; width: 60%; padding: 5%; text-align: center;">
        <h2 style="display: flex; justify-content: space-between;">
            <div style="text-align: left;">
                <div>Notes:</div>
                <div>Origin:</div>
                <div>Roast:</div>
            </div>
            <div style="text-align: right;">
                <div>{{coffee_bag.notes}}</div>
                <div>{{coffee_bag.origin}}</div>
                <div>{{coffee_bag.roast}}</div>
            </div>
        </h2>
    </div>
    <br>
    <form method="POST" enctype="multipart/form-data" style="text-align: center;">
        {% csrf_token %}
        <div style="display: flex; justify-content: space-between; padding-right: 7%; width: 80%; margin: 0 auto;">
            <div style="width: 45%;">
                <table>
                    {{ form.review_text.label_tag }} <br> {{ form.review_text }}
                    <br>
                    {{ form.brew_method.label_tag }}<br> {{ form.brew_method }}
                    <br>
                    {{ form.rating.label_tag }} <br>{{ form.rating }}
                    <br>
                </table>
            </div>
            <div style="width: 45%;">
                <h3>Optional: Add Tags</h3>
                <div style="column-count: 4; column-gap: 40px;">
                    {{form.tags}}
                </div>
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            <input type="submit" name="submit" value="Submit">
        </div>
    </form>
{% endblock %}