<!--quotes/templates/quotes/about.html-->
{% extends 'restaurant/base.html'%}
{% block content %}
    <h2>Welcome to The Rusten House!</h2> <br>
    
    <div style="text-align: center; margin-top: 5px; margin-bottom: 5px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeD-bMfkKq_gu26-bU2j_zjBhElPSpqn_yYw&s" alt="rusten house sign" width="300px">
    </div>
    <div class="text-paragraph" style="text-align: center;">
        <h2>Restaurant Hours:</h2>
        <table style="margin: 0 auto;">
            <tr>
                <th>Day</th>
                <th>Hours</th>
            </tr>
            <tr>
                <td>Monday</td>
                <td>11:00 AM - 9:00 PM</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>11:00 AM - 9:00 PM</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>11:00 AM - 9:00 PM</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>11:00 AM - 9:00 PM</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>11:00 AM - 10:00 PM</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>11:00 AM - 10:00 PM</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>12:00 PM - 8:00 PM</td>
            </tr>
        </table>
        <br>
        <h2>Restaurant Address:</h2>
        <p>
            <a href="https://maps.app.goo.gl/1zkgbX2wGcdVLmTf9">43953 15th St W · Lancaster, CA 93534</a>
        </p>
    </div>
{% endblock %}