<!-- 
    File: ./mini_fb/templates/mini_fb/create_profile_form.html
    Author: Ernesto Rivera (ebrivera@bu.edu), 2/26/25
    Description:display html form to create a new profile obj
-->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h1>Create a new Profile</h1>
    <form action="{% url 'create_profile' %}" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }} 
        </table>

        <input type="submit" name="submit" value="Submit">
    </form>
{% endblock %}