<!-- 
    File: ./mini_fb/templates/mini_fb/login.html
    Author: Ernesto Rivera (ebrivera@bu.edu), 3/29/25
    Description: The HTML file to register a user so that
    they can eventually log in and have the rest of the capabilities
    of a normal user.
-->

{% extends 'mini_fb/base.html' %}

{% block content %}

<h1>Register for an account</h1>
<form class="site-form" action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    {{form}}
<input type="submit" value="Register">

</form>
{% endblock %}