<!-- 
    File: ./mini_fb/templates/mini_fb/show_profile.html
    Author: Ernesto Rivera (ebrivera@bu.edu), 2/21/25
    Description:This shows an individual page that people
    will have either clicked on from one of the hyper links
    or view the url primary key index
-->
{% extends 'mini_fb/base.html' %}

{% block content %}
<main class="profile-container" style="text-align: center;">
    {% if profile.profile_image %}
    <div class="singular-profile-img">
        <img src="{{profile.profile_image.url}}" alt="Profile photo of {{profile.first_name}}" style="width: px;">
    </div>
    {% else %}
    <h3>No Image</h3>
    {% endif %}
    
    <div class="profile-info">
        <h2>{{profile.first_name}} {{profile.last_name}}</h2>
        <p>Hometown: {{profile.city}}</p>
        <p>Email: {{profile.email}}</p>
        {% if request.user.is_authenticated %}   
            {% if request.user == profile.user %}
                <!-- update this profile -->
                <h4>
                    <a href="{% url 'update_profile' %}">Update this Profile</a>
                </h4>
                <!-- show suggestions -->
                <h4>

                    <a href="{% url 'show_suggestions' %}">Show Suggested Friends</a>
                </h4>
                <h4>
                    <a href="{% url 'news_feed' %}">View News Feed</a>
                </h4>
            {% endif %}
        {% endif %}
    </div>

    <hr>
</main>

<h2>Friends</h2>

{% if profile.get_friends %}

    <ul>
        {% for friend in profile.get_friends %}
            <li>
                <div style="background-color: #8f8fd8; padding: 15px; text-align: center; width: 200px;" >
                    <a href="{% url 'profile' friend.pk %}">
                        <img src="{{friend.profile_image.url}}" alt="Profile photo of {{friend.first_name}}" style="width: 75px;">
                        <h3>
                            {{ friend.first_name }} {{ friend.last_name }}
                        </h3>
                    </a>
                </div>
            </li>
            <br><br>
        {% endfor %}
    </ul>

{% endif %}
<hr>
<h2>Message</h2>
{% if request.user.is_authenticated %}    
    {% if request.user == profile.user %}                
        <h3>
            <a href="{% url 'create_status' %}">Send a message</a>
        </h3>
    {% endif %}
{% endif %}

{% for message in profile.get_status_messages %}
    <div>
        <p><strong>{{ message.timestamp }}: </strong>{{ message.message }}</p>

        {% for img in message.get_images %}
        <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}' style="width: 150px;">
        {% endfor %}
        <br>
        {% if request.user.is_authenticated %} 
            {% if request.user == profile.user %}
                <a href="{% url 'update_status' message.pk %}">Update</a> <a href="{% url 'delete_status_message' message.pk %}">Delete</a> 
            {% endif %}
        {% endif %}
    </div>
{% endfor %}
{% endblock %}