<!-- 
    File: ./mini_fb/templates/mini_fb/show_profile.html
    Author: Ernesto Rivera (ebrivera@bu.edu), 2/21/25
    Description:This shows an individual page that people
    will have either clicked on from one of the hyper links
    or view the url primary key index
-->
{% extends 'mini_fb/base.html' %}

{% block content %}
<main class="profile-container" style="text-align: center;">
    {% if profile.profile_image_url %}
    <div class="singular-profile-img">
        <img src="{{profile.profile_image_url}}" alt="Profile photo of {{profile.first_name}}" style="width: px;">
    </div>
    {% endif %}
    
    <div class="profile-info">
        <h2>{{profile.first_name}} {{profile.last_name}}</h2>
        <p>Hometown: {{profile.city}}</p>
        <p>Email: {{profile.email}}</p>
    </div>
    <!--display messages to this person with timestamps-->
    <hr>
</main>

<h2>Message</h2>
<h3>
    <a href="{% url 'create_status' profile.pk %}">Send a message</a>
</h3>

{% for message in profile.get_status_messages %}
    <div>
        <p><strong>{{ message.timestamp }}: </strong>{{ message.message }}</p>
    </div>
{% endfor %}
{% endblock %}