<!--quotes/templates/quotes/about.html-->
{% extends 'quotes/base.html'%}
{% block content %}
    <h1>About!</h1> <br>
    <h2>
        About Alan Turing
    </h2>
    <br>
    <br>
    <div class="text-paragraph" style="text-align: justify;">
        <p>
            <a style="text-decoration: underline;" href="https://en.wikipedia.org/wiki/Alan_Turing">Alan Turing</a> is one of the worlds most renowned mathematicians and computer scientist.
            He was influential to building computers as we know them today, coming up with a large
            portion of the theory behind computer science, prominently coming up with formal
            <i>algorithms</i> and <i>computation</i>. The first model of a computer that he made
            has been remembered as the <i>Turing Machine</i>, which describes an abstract computation machine. 
            Alan Turing was predicted to have saved over 14 million lives due to his contributions
            in cryptography during World War II. 
        </p>
        <p>
            I believe Alan Turing to be one of my biggest inspirations in life. He was unapologetically
            himself in a hateful world. Despite the hate he received, he continued to make transformative
            contributions to the world. Without his work, we wouldn't ever be able to have anything close
            to the technology today that allows us to see this website, make this website, and host this website.
        </p>
    </div>
{% endblock %}