<!--quotes/templates/quotes/base.html-->
{% load static %}
<html>
    <head>
        <title>Alan Turing Quotes</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'home_page' %}">Home</a></li>
                <li><a href="{% url 'about_page' %}">About</a></li>
                <li><a href="{% url 'show_all_page' %}">Show All</a></li>
            </ul>
        </nav>
        
        <!--put page specific content here-->
        {% block content%}
        {% endblock%}
        

        <footer>
            The current time is {{current_time}}
        </footer>

    </body>
</html>